#rechnung * {
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    border: 0;
    box-shadow: 0;
}

.head_adresses {
    padding: 0;
}
address#kunde, address#own_ci {
    padding: 3em 0em 0em 3em;
}
address#own_ci {
    text-align: right;
}

#posten * {
    border: 0;
    padding: 0;
    margin: 0;
}
#posten * {
    text-align: right;
}
#posten th {
    text-align: center;
}
#posten .beschreibung p {
    text-align: left;
}
#posten {
    width: 100%;
    margin: auto;
}
#posten td {
    padding: 5px;
}
#posten .info p {
	text-align: center;
	color: #555;
	padding-top: 1em;
}
#posten .first {
    border-top: 1px solid #000;
}
#posten .last {
    border-bottom: 1px solid #000;
}
#summe_brutto .money strong{
    border-bottom: 3px double #000;    
}
#re_date {
	text-align: right;
}
footer {
	width: 100%;
    font-size: 0.8em;
    text-align: center;
}
footer table * {
    padding: 0px;
}
footer table {
    width: 300px;
    padding: 0;
    margin: auto;
}