#header, #footer, .breadcrumbs, .submit-row, legend, #content h1 {display:none;}
html, body, .module, #content {
	background-color: #fff;
	border: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
}
a:link:after, a:visited:after {
	/* revert added link content by blueprint css */
	content:"";
}


#rechnung {
    height: 1500px;
}
.head_adresses {
    height: 300px;
}
footer {
	position: absolute;
	bottom: 9em;
}

/*div {border: 2px solid #000;}*/