{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}


{% block extrahead %}{{ block.super }}
<script type="text/javascript">                                         
jQuery(document).ready(function($) {
	$("#print_link").click(function() {
		window.print();
     	return false;
	});
	$("#print_preview").click(function() {
        $("link[media=print]").each( function() {
        	$(this).removeAttr("media");
        });
     	
     	$("#container").attr("title", "Klicke um Preview zu beenden.");
     	$("#container").click(function() {
     		location.reload();
     	});

     	return false;
     	
	});
});
</script> 

<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/html_print/rechnung_base.css" />
<link rel="stylesheet" type="text/css" media="print" href="/static/html_print/rechnung_print.css" />
{% endblock %}


{% block content %}
<div id="content-main">
<fieldset class="module aligned"><legend>Drucken von {{ rechnung }}</legend>
	<div id="rechnung">
		{% include "pyrm/html_print/rechnung.html" %}
	</div>
</fieldset>

<div class="submit-row">
    {% csrf_token %}
    <a href="{% url admin:pyrm_rechnung_change rechnung.pk %}">bearbeiten</a>
    <input type="submit" name="_print" class="default" value="print preview" id="print_preview"/>
    <input type="submit" name="_print" class="default" value="print" id="print_link"/>
</div>
</div>
{% endblock %}