{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}PyRM - {{ title }}{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ Django_media_prefix }}js/jquery.min.js" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');" ></script>
<script type="text/javascript" src="{{ media_url }}pyrm/save_me_genie.js" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');" ></script>
<script type="text/javascript" src="{{ media_url }}pyrm/pyrm_js_tools.js" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');" ></script>
<link rel="stylesheet" type="text/css" href="{{ media_url }}pyrm/base.css" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');" />
{% endblock extrahead %}


{% block pretitle %}
<!-- app pretitle block start -->
{% if request.user.is_authenticated %}
{# {% include "admin_menu/includes/pylucid_admin_menu.html" %} #}
{% endif %}
<!-- app pretitle block end -->
{% endblock %}


{% block branding %}<a name="top" \><h1 class="admin_headline">PyRM</h1>{% endblock %}

{% block nav-global %}{% include "pyrm/includes/quick_links.html" %}{% endblock %}

{% block footer %}
<div id="footer" class="pyrm_footer">
{% include "pyrm/includes/quick_links.html" %}
</div>
{% endblock %}
