{% if preview %}
<fieldset id="preview"><legend><strong>test</strong></legend>
<table border="1">
  <tr>
    <th>Anzahl</th>
    <th>Beschreibung</th>
    <th>Einzelpreis</th>
  </tr>
{% for line in preview %}
  <tr>
    <td>{{ line.0 }}</td>
    <td><pre>{{ line.1 }}</pre></td>
    <td>{{ line.2 }}</td>
  </tr>
{% endfor %}
</table>
</fieldset>
{% endif %}

<fieldset><legend><strong>Rechnung erstellen</strong></legend>
<form method="post" action="." id="create_bill_form">
<ul id="input_fields">
    {% for field in form %}
        <li title="{{ field.help_text }}" class="{{ field.html_name }}">
        <label for="{{ field.auto_id }}">{{ field.label }} :</label>
        {{ field }}
        <span class="field_help_text">{{ field.help_text }}</span>
        {% if field.errors %}<li class="field_errors">{{ field.errors }}</li>{% endif %}
    </li>
    {% endfor %}
</ul>
<input type="submit" name="save" value="{% trans 'speichern' %}" />
<input type="submit" name="preview" value="{% trans 'test' %}" />
</form>
</fieldset>