/*
 * blueprint - grid.css
 * 
 * Special version for best fit a DIN A4 page.
 * See also /pyrm/testproject/blueprint_layout_test1.html
 * 
 * Column Width: 22px
 * Gutter Width: 10px
 * Column Count: 24 columns
 * Total Width: 758px
 * 
 */
.container {width:758px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
.span-1 {width:22px;}
.span-2 {width:54px;}
.span-3 {width:86px;}
.span-4 {width:118px;}
.span-5 {width:150px;}
.span-6 {width:182px;}
.span-7 {width:214px;}
.span-8 {width:246px;}
.span-9 {width:278px;}
.span-10 {width:310px;}
.span-11 {width:342px;}
.span-12 {width:374px;}
.span-13 {width:406px;}
.span-14 {width:438px;}
.span-15 {width:470px;}
.span-16 {width:502px;}
.span-17 {width:534px;}
.span-18 {width:566px;}
.span-19 {width:598px;}
.span-20 {width:630px;}
.span-21 {width:662px;}
.span-22 {width:694px;}
.span-23 {width:726px;}
.span-24, div.span-24 {width:758px;margin:0;}
input.span-1, textarea.span-1, select.span-1 {width:22px!important;}
input.span-2, textarea.span-2, select.span-2 {width:34px!important;}
input.span-3, textarea.span-3, select.span-3 {width:66px!important;}
input.span-4, textarea.span-4, select.span-4 {width:98px!important;}
input.span-5, textarea.span-5, select.span-5 {width:130px!important;}
input.span-6, textarea.span-6, select.span-6 {width:162px!important;}
input.span-7, textarea.span-7, select.span-7 {width:194px!important;}
input.span-8, textarea.span-8, select.span-8 {width:226px!important;}
input.span-9, textarea.span-9, select.span-9 {width:258px!important;}
input.span-10, textarea.span-10, select.span-10 {width:290px!important;}
input.span-11, textarea.span-11, select.span-11 {width:322px!important;}
input.span-12, textarea.span-12, select.span-12 {width:354px!important;}
input.span-13, textarea.span-13, select.span-13 {width:386px!important;}
input.span-14, textarea.span-14, select.span-14 {width:418px!important;}
input.span-15, textarea.span-15, select.span-15 {width:450px!important;}
input.span-16, textarea.span-16, select.span-16 {width:482px!important;}
input.span-17, textarea.span-17, select.span-17 {width:514px!important;}
input.span-18, textarea.span-18, select.span-18 {width:546px!important;}
input.span-19, textarea.span-19, select.span-19 {width:578px!important;}
input.span-20, textarea.span-20, select.span-20 {width:610px!important;}
input.span-21, textarea.span-21, select.span-21 {width:642px!important;}
input.span-22, textarea.span-22, select.span-22 {width:674px!important;}
input.span-23, textarea.span-23, select.span-23 {width:706px!important;}
input.span-24, textarea.span-24, select.span-24 {width:748px!important;}
.append-1 {padding-right:32px;}
.append-2 {padding-right:64px;}
.append-3 {padding-right:96px;}
.append-4 {padding-right:128px;}
.append-5 {padding-right:160px;}
.append-6 {padding-right:192px;}
.append-7 {padding-right:224px;}
.append-8 {padding-right:256px;}
.append-9 {padding-right:288px;}
.append-10 {padding-right:320px;}
.append-11 {padding-right:352px;}
.append-12 {padding-right:384px;}
.append-13 {padding-right:416px;}
.append-14 {padding-right:448px;}
.append-15 {padding-right:480px;}
.append-16 {padding-right:512px;}
.append-17 {padding-right:544px;}
.append-18 {padding-right:576px;}
.append-19 {padding-right:608px;}
.append-20 {padding-right:640px;}
.append-21 {padding-right:672px;}
.append-22 {padding-right:704px;}
.append-23 {padding-right:736px;}
.prepend-1 {padding-left:32px;}
.prepend-2 {padding-left:64px;}
.prepend-3 {padding-left:96px;}
.prepend-4 {padding-left:128px;}
.prepend-5 {padding-left:160px;}
.prepend-6 {padding-left:192px;}
.prepend-7 {padding-left:224px;}
.prepend-8 {padding-left:256px;}
.prepend-9 {padding-left:288px;}
.prepend-10 {padding-left:320px;}
.prepend-11 {padding-left:352px;}
.prepend-12 {padding-left:384px;}
.prepend-13 {padding-left:416px;}
.prepend-14 {padding-left:448px;}
.prepend-15 {padding-left:480px;}
.prepend-16 {padding-left:512px;}
.prepend-17 {padding-left:544px;}
.prepend-18 {padding-left:576px;}
.prepend-19 {padding-left:608px;}
.prepend-20 {padding-left:640px;}
.prepend-21 {padding-left:672px;}
.prepend-22 {padding-left:704px;}
.prepend-23 {padding-left:736px;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder {padding-right:16px;margin-right:17px;border-right:1px solid #eee;}
.pull-1 {margin-left:-32px;}
.pull-2 {margin-left:-64px;}
.pull-3 {margin-left:-96px;}
.pull-4 {margin-left:-128px;}
.pull-5 {margin-left:-160px;}
.pull-6 {margin-left:-192px;}
.pull-7 {margin-left:-224px;}
.pull-8 {margin-left:-256px;}
.pull-9 {margin-left:-288px;}
.pull-10 {margin-left:-320px;}
.pull-11 {margin-left:-352px;}
.pull-12 {margin-left:-384px;}
.pull-13 {margin-left:-416px;}
.pull-14 {margin-left:-448px;}
.pull-15 {margin-left:-480px;}
.pull-16 {margin-left:-512px;}
.pull-17 {margin-left:-544px;}
.pull-18 {margin-left:-576px;}
.pull-19 {margin-left:-608px;}
.pull-20 {margin-left:-640px;}
.pull-21 {margin-left:-672px;}
.pull-22 {margin-left:-704px;}
.pull-23 {margin-left:-736px;}
.pull-24 {margin-left:-768px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -32px 1.5em 32px;}
.push-2 {margin:0 -64px 1.5em 64px;}
.push-3 {margin:0 -96px 1.5em 96px;}
.push-4 {margin:0 -128px 1.5em 128px;}
.push-5 {margin:0 -160px 1.5em 160px;}
.push-6 {margin:0 -192px 1.5em 192px;}
.push-7 {margin:0 -224px 1.5em 224px;}
.push-8 {margin:0 -256px 1.5em 256px;}
.push-9 {margin:0 -288px 1.5em 288px;}
.push-10 {margin:0 -320px 1.5em 320px;}
.push-11 {margin:0 -352px 1.5em 352px;}
.push-12 {margin:0 -384px 1.5em 384px;}
.push-13 {margin:0 -416px 1.5em 416px;}
.push-14 {margin:0 -448px 1.5em 448px;}
.push-15 {margin:0 -480px 1.5em 480px;}
.push-16 {margin:0 -512px 1.5em 512px;}
.push-17 {margin:0 -544px 1.5em 544px;}
.push-18 {margin:0 -576px 1.5em 576px;}
.push-19 {margin:0 -608px 1.5em 608px;}
.push-20 {margin:0 -640px 1.5em 640px;}
.push-21 {margin:0 -672px 1.5em 672px;}
.push-22 {margin:0 -704px 1.5em 704px;}
.push-23 {margin:0 -736px 1.5em 736px;}
.push-24 {margin:0 -768px 1.5em 768px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}