html {
	background-color: #555;
	padding: 15px;
}
body {
	background-color: #fff;
  	width: 950px;
  	margin: 0 auto;
    padding: 15px;
}

body {
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
.container {
    height: 1400px;
}
.small {
    font-size: 0.8em;
}
address#kunde, address#own_ci {
    padding: 3em 0em 0em 3em;
}
address#own_ci {
    text-align: right;
}
#copy_info {
	font-size: 1.5em;
	color: #666;
	text-align: center;
	position: absolute;
	top: 20px;
	width: 950px;
	margin: 0 auto;
}
#info_block {
    margin-top: 3em;
}

#posten * {
    border: 0;
    padding: 0;
    margin: 0;
}
#posten * {
    text-align: right;
}
#posten th {
    text-align: center;
}
#posten .beschreibung p {
    text-align: left;
}
#posten {
    width: 100%;
    margin: auto;
    margin-bottom: 3em;
}
#posten td {
    padding: 5px;
}
#posten .info_posten p {
	text-align: center;
	color: #555;
	padding-top: 1em;
}
#posten .first {
    border-top: 1px solid #000;
}
#posten .last {
    border-bottom: 1px solid #000;
}
#summe_brutto .money strong{
    border-bottom: 3px double #000;    
}
#re_date {
	text-align: right;
}
footer {
    position: absolute;
    top: 1300px;
    margin: auto;
    font-size: 0.8em;
    text-align: center;
}
footer table * {
    padding: 0px;
}
footer table {
    width: 300px;
    padding: 0;
    margin: auto;
}
#posten {
	margin:auto;
}