html {
    background-color: #555;
    padding: 15px;
}
body {
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px;
    /*
        DIN A4 = 210 x 297
        760px / 210*297 = 1074,9
        1085px / 297*210 = 767,2

    */
    width: 760px;
    height: 1085px;
}
p {
	margin: 0px;
}
.border {
	border: 1px solid #000;
}
.container {
    border: 2px dotted #000;
    height: 1085px;
}
@media print {
	html, body {
	    padding: 0px;
	    margin: 0 auto;
	}
	.container {
		border: 0;
	}
}

.small {
    font-size: 0.8em;
}
.head_adresses {
    padding: 100px 0 10px 0;
}
#ci_address address {
    text-align: right;
}
#copy_info {
	font-size: 1.5em;
	color: #666;
	text-align: center;
	position: absolute;
	top: 20px;
	width: 950px;
	margin: 0 auto;
}
#info_block {
    margin-top: 3em;
}

table {
	border-spacing: 0px;
}
td, th {
    border: 0;
}
#posten * {
    text-align: right;
}
#posten th {
    text-align: center;
}
#posten .beschreibung p {
    text-align: left;
}
#posten {
    width: 100%;
    margin: auto;
    margin-bottom: 3em;
}
#posten td {
    padding: 5px;
}
#posten .info_posten p {
	text-align: center;
	color: #555;
	padding-top: 1em;
}
#posten .first {
    border-top: 1px solid #000;
}
#posten .last {
    border-bottom: 1px solid #000;
}
#summe_brutto .money strong{
    border-bottom: 3px double #000;    
}
#re_date {
	text-align: right;
}
#rechnungs_footer {
    position: absolute;
    top: 950px;
    height: auto;
    width: 758px;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
}
footer table * {
    padding: 0px;
}
footer table {
    width: 300px;
    padding: 0;
    margin: auto;
}
#posten {
	margin:auto;
}