/* ----------------------------------------------------------------------------
   common
---------------------------------------------------------------------------- */
* {
  font-family: tahoma, arial, sans-serif;
}
html, body {
  padding: 1em 3em 1em 3em;
  background-color: #fff;
}
body {
  font-size: 0.9em;
  background-color: #eef;
  margin: 1em 3em 1em 3em;
  border: 3px solid #05d;
  min-width: 990px;
  border-radius: 10px;
  box-shadow: #555 0px 0px 8px;
}
h1, h2, h3, h4 {
   text-shadow:1px 1px 2px #aaaaaa;
   margin-top: 1em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  font-family: "Courier New",Courier,monospace;
  font-size: 0.8em;
  word-spacing: 0em;
  letter-spacing: -0.05em;
  background-color: #fefeff;
  margin: 0.5em;
  padding: 0.5em;
}
fieldset, legend {
  background-color: #fefeff;
}
fieldset {
  padding: 5px;
  margin: 1.5em 5px 1.5em 5px;
}
legend {
  display: block;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #555 2px 2px 4px;
}
/* ----------------------------------------------------------------------------
   forms
---------------------------------------------------------------------------- */
input, textarea, select {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.forms ul {
    list-style-type:none;
}
.forms li {
	padding: 3px;
	margin: 3px;
}
.forms label {
    font-size: 0.8em;
}
.forms .field_help_text {
    font-size:0.7em;
    display: block;
    padding-left: 11em;
}
.forms label {
    float: left;
    padding-right: 4px;
    text-align: right;
    width: 9em;
}
textarea {
    width: 80%;
}
.forms input, .forms select, input[type="text"], input[type="password"], select {
    border: 1px solid #aaa;
    width: 40%;
}
.vDateField {
    width: 6em !important;
}
.forms li:hover input, .forms li:hover textarea, .forms li:hover select,
.form-row:hover input, .form-row:hover textarea, .form-row:hover select {
  border: 1px solid #333;
}
.forms .bigger {
    /* make some text input fields bigger e.g. keywords,description */
    width: 75%;
}
.forms input[type=submit] {
  border: 1px solid #000;
  width: auto;
  padding: 1px 1em 1px 1em;
  margin-left: 9em;
}
/* ----------------------------------------------------------------------------
   django admin panel
---------------------------------------------------------------------------- */
#header {
  background-color: #05d;
  color:#FFFFCC;
}
#header, .breadcrumbs {
  border-radius: 4px;
  box-shadow: #999 2px 2px 4px;	
}
/* ----------------------------------------------------------------------------
   Grayout non importand models in django admin panel
------------------------------------------------------------------------------- */
.module th a[href="pyrm/rechnungsposten/"],
.module th a[href="reversion/revision/"],
.module th a[href="reversion/version/"],
.module th a[href="tagging/taggeditem/"],
.module th a[href="tagging/tag/"] {
    color: #aaa;
}
/* Highlight importand models  in django admin panel */
.module th a[href="pyrm/kunde/"],
.module th a[href="pyrm/rechnung/"] {
    background-color: #e8eff6;
    border-left: 5px solid #acc5e1;
    display: block;
}
.module th {
    padding: 0px;
    vertical-align:middle;
}
.module th a {
    padding: 5px;
    vertical-align:middle;
}
/* ----------------------------------------------------------------------------
   PyRM
---------------------------------------------------------------------------- */
.selection_menu {
  padding: 1em;
}
/* ------------------------------------------------------------------------- */
.pyrm_footer, .pyrm_header_nav {
  text-align:right;
}
.pyrm_header_nav {
  border-bottom: 1px solid #05d;
}
.pyrm_footer {
  border-top: 1px solid #05d;
}
.pyrm_selection_menu li {
  display: inline;
  list-style: none;
  padding-left:1em;
}

.notizen textarea {
    width: 1.5em;
    height: 1.5em;
}
.notizen textarea:hover {
    width: auto;
    height: auto;
}