{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_date').datepicker();
  });
</script>

<link rel="stylesheet" href="/static/jquery-ui-themes/default/ui.datepicker.css" type="text/css">
<script type="text/javascript" src="/static/jquery-ui/ui.datepicker.js"></script>
{% endblock %}

{% block content %}
<h1>Eingangs Rechnung / einsortieren</h1>
<a href="{{ back_url }}">&lt; zurück</a>
<fieldset class="forms"><legend>{{ file_path }}</legend>
<form method="post" action="{{ url }}">
<ul id="input_fields">
    {% for field in form %}
        <li title="{{ field.help_text }}" class="{{ field.html_name }}">
        <label for="{{ field.auto_id }}">{{ field.label }}:</label>
        {{ field }}
        <span class="field_help_text">{{ field.help_text }}</span>
        {% if field.errors %}<li class="field_errors">{{ field.errors }}</li>{% endif %}
    </li>
    {% endfor %}
</ul>
<input type="submit" name="save" value="speichern" />
</form>
</fieldset>

<ul><li>
download: <a href="{{ download_url }}" title="download">{{ file_path }}</a></p>
</li></ul>

<a href="{{ back_url }}">&lt; zurück</a>

<fieldset><legend>PDF Text:</legend>
<pre>{{ pdf_text }}</pre>
{% if returncode %}<p>returncode: {{ returncode }}</p>{% endif %}
{% if stderr %}<p>stderr: <pre>{{ stderr }}</pre></p>{% endif %}
</fieldset>
{% endblock %}