{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block content %}
<fieldset><legend>login</legend>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="." class="forms">
<ul>
    {% for field in form %}
        <li title="{{ field.help_text }}" class="{{ field.html_name }}">
        <label for="{{ field.auto_id }}">{{ field.label }}:</label>
        {{ field }}
        <span class="field_help_text">{{ field.help_text }}</span>
        {% if field.errors %}<li class="field_errors">{{ field.errors }}</li>{% endif %}
    </li>
    {% endfor %}
</ul>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</fieldset>
{% endblock %}
