/* ----------------------------------------------------------------------------
   common
---------------------------------------------------------------------------- */
* {
  font-family: tahoma, arial, sans-serif;
  color: #000;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-repeat: no-repeat;
  outline: none;
}
html, body {
  padding: 1em 3em 1em 3em;
  background-color: #fff;
}
body {
  font-size: 0.9em;
  background-color: #eef;
  margin: 1em 3em 1em 3em;
  border: 3px solid #05d;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  background-color: #fefeff;
  margin: 0.5em;
  padding: 0.5em;
}
fieldset, legend {
  background-color: #fefeff;
}
fieldset {
  padding: 3px;
  margin: 3px;
}
legend {
  display: block;
  padding: 2px;
  border: 1px solid #000;
}
/* ----------------------------------------------------------------------------
   forms
---------------------------------------------------------------------------- */
input, textarea, select {
  font-family: tahoma, arial, sans-serif;
}
.forms ul {
    list-style-type:none;
}
.forms li {
  padding: 3px;
  margin: 3px;
}
.forms label {
    font-size: 0.8em;
}
.forms .field_help_text {
    font-size:0.7em;
    display: block;
    padding-left: 11em;
}
.forms label {
    float: left;
    padding-right: 4px;
    text-align: right;
    width: 9em;
}
textarea {
    width: 80%;
}
.forms input, .forms select, input[type="text"], input[type="password"], select {
    border: 1px solid #aaa;
    width: 40%;
}
.vDateField {
    width: 6em !important;
}
.forms li:hover input, .forms li:hover textarea, .forms li:hover select,
.form-row:hover input, .form-row:hover textarea, .form-row:hover select {
  border: 1px solid #333;
}
.forms .bigger {
    /* make some text input fields bigger e.g. keywords,description */
    width: 75%;
}
.forms input[type=submit] {
  border: 1px solid #000;
}
/* ----------------------------------------------------------------------------
   django admin panel
---------------------------------------------------------------------------- */
#header {
  background-color: #05d;
  color:#FFFFCC;
}
/* ----------------------------------------------------------------------------
   PyRM
---------------------------------------------------------------------------- */
.selection_menu {
  padding: 1em;
}
/* ------------------------------------------------------------------------- */
.pyrm_footer, .pyrm_header_nav {
  text-align:right;
}
.pyrm_header_nav {
  border-bottom: 1px solid #05d;
}
.pyrm_footer {
  border-top: 1px solid #05d;
}
.pyrm_selection_menu li {
  display: inline;
  list-style: none;
  padding-left:1em;
}